{% extends "base.html" %}
{% block title %}
	Main page
{% endblock %}
{% block main %}
	<div class="content">
        <header>URL shortener</header>
        <form action="/url/" method="post">
            <table>
                <tbody><tr>
                    <th>Long URL</th>
                    <th>Short URL</th>
                </tr>
                <tr>
                    <td>
                        <input type="url" name="url">
                        <input type="submit" value="Do!">
                    </td>
                    <td id="result"></td>
                </tr>
            </tbody></table>
        </form>
        <footer>
<div class="alert alert-success" role="alert">
This project is executed on its own framework, which is in the process of writing!
</div>
<div class="alert alert-danger" role="alert">
System requirements:</br>
Nginx (Root folder /public/), Mysql, Php7+</br>
</br>
Database connection parameters - /config/Db.php
</div>




        </footer>
    </div>
{% endblock %}
