{% extends "base.html" %}
{% block title %}
	Main page
{% endblock %}
{% block main %}
	<div class="content">
        <header>URL shortener</header>
        <form action="/url/" method="post">
            <table>
                <tbody><tr>
                    <th>Long URL</th>
                    <th>Short URL</th>
                </tr>
                <tr>
                    <td>
                        <input type="url" name="url">
                        <input type="submit" value="Do!">
                    </td>
                    <td id="result"></td>
                </tr>
            </tbody></table>
        </form>
        <footer>
			<div class="alert alert-success" role="alert">
			This project uses its own framework, which is in work!
			</div>
			<div class="alert alert-danger" role="alert">
			System requirements:</br>
			Nginx (Root folder /public/), Mysql, Php7+
			</div>
			
			<div class="alert alert-primary" role="alert">
			Instruction:
				<ol>
					<li>Rename the file /config/Db.php.restore to Db.php</li>
					<li>Change the connection parameters to the database in /config/Db.php</li>
					<li>Start Migrations (<a href='/migration/'>/migration/</a>)</li>
				</ol>
			</div>
        </footer>
    </div>
{% endblock %}
